.authentic {
  background-image: url("https://res.cloudinary.com/dzlk6w9fd/image/upload/v1694089107/Pages/Home/Hochzeitsfotograf%20M%C3%BCnchen.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25vh 0;
  text-align: center;

  min-height: 500px;
}

.authentic h3,
.authentic h6 {
  color: var(--white);
  text-transform: uppercase;
}

.authentic hr {
  width: 25vw;
  margin: 20px 0 40px 0;
}

.authentic h3 {
  max-width: 800px;
}
