/*MEINE ANIMATION*/

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* animation: loading 1.5s linear 0s 1 alternate; */
}

.loading p {
  font-family: NoireEtBlanc, Arial, Helvetica, sans-serif;
  font-size: clamp(3rem, 4vw, 5rem);
  opacity: 1;
}

.loading div {
  display: flex;
}
.loading div p {
  animation: loading 1s ease-in-out backwards;
}

.space {
  padding-right: 20px;
}

.italy {
  font-style: italic;
}

.loading div p:nth-of-type(1) {
  animation-delay: 0s;
}
.loading div p:nth-of-type(2) {
  animation-delay: 0.15s;
}
.loading div p:nth-of-type(3) {
  animation-delay: 0.3s;
}
.loading div p:nth-of-type(4) {
  animation-delay: 0.45s;
}
.loading div p:nth-of-type(5) {
  animation-delay: 0.6s;
}
.loading div p:nth-of-type(6) {
  animation-delay: 0.75s;
}
.loading div p:nth-of-type(7) {
  animation-delay: 0.9s;
}
.loading div p:nth-of-type(8) {
  animation-delay: 1.05s;
}
.loading div p:nth-of-type(9) {
  animation-delay: 1.2s;
}
.loading div p:nth-of-type(10) {
  animation-delay: 1.35s;
}

@keyframes loading {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
