.hochzeitsreportagen {
  background-color: var(--main-color);
  padding: 12rem 0;
}

.headings {
  text-align: center;
}

.headings h4 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.headings h6 {
  margin-bottom: 3rem;
}

.headings hr {
  margin: auto;
}

.overviewwrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 5vw;
}

.weddingItem {
  transition: all 0.2s ease-in-out;
  background-color: var(--white);
  max-width: 1200px;
  margin: auto;
}

.weddingItem a {
  display: flex;
  align-items: center;
}

.weddingItem div {
  padding: 3vw;
}

.weddingItem h2 {
  font-family: CodePen, Arial, Helvetica, sans-serif;
  font-size: clamp(2.5rem, 3vw, 3rem) !important;
  margin: 2rem 0 1rem 0;
  min-height: 8rem;
  color: var(--gold);
  text-transform: uppercase;
}

.weddingItem p {
  margin-bottom: 30px;
}
.weddingItem:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.weddingItem:nth-child(even) a {
  flex-direction: row-reverse;
}

.weddingItem {
  border-radius: 0 40px 0 40px;
  overflow: hidden;
}

.weddingItem img {
  height: 400px !important;
  object-fit: cover;
}

@media only screen and (max-width: 950px) {
  .weddingItem img {
    width: 50% !important;
  }
}

@media only screen and (max-width: 768px) {
  .weddingItem img {
    width: 100% !important;
  }
  .weddingItem a {
    flex-direction: column;
  }
  .weddingItem:nth-child(even) a {
    flex-direction: column;
  }

  .weddingItem img {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .weddingItem a h2 {
    margin: 2rem 0 0.2rem 0;
    min-height: auto !important;
  }
}
