.heroWelcome .homeWrapper {
  padding: 6vh 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 85vh;
}

.heroWelcome h1 {
  line-height: 80px;
  font-size: clamp(2.5rem, 4vw, 4.2rem);
  text-transform: uppercase;
  padding: 1vw 1vw 0.5vw 1vw;
  font-family: CodePenLight, Arial, Helvetica, sans-serif;
}

.homeWrapper h2 {
  margin-bottom: 60px;
  font-size: clamp(2.5rem, 4vw, 4.2rem);
  color: var(--gold);
  font-family: CodePenLight, Arial, Helvetica, sans-serif;
}

.homeWrapper {
  border: 1px solid var(--text-black);
  margin: 30px;
}

.homeWrapper img {
  border-radius: 100px 100px 0 0;
}

.homeWrapper .line {
  transform: rotate(90deg);
}
.zusatz {
  text-transform: uppercase;
  font-family: CodePen, Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 2.4vw, 2.5rem);
  color: var(--text-black);
  font-weight: lighter;
  line-height: 50px;
  margin: 2vw;
  word-wrap: break-word;
  max-width: 300px !important;
}

.linebtm {
  height: 10vh;
  width: 1px;
  background-color: var(--text-black);
  margin-bottom: 40px;
}
.heroWelcome h2 span {
  text-transform: uppercase;
  font-size: 60px;
}

.heroWelcome hr {
  width: 10vw;
  background-color: var(--text-black);
  height: 3px;
  margin-bottom: 35px;
}

.heroWelcome p {
  margin-bottom: 50px;
  max-width: 70vw;
}

.content {
  margin-top: 40px;
}

.heroWelcome div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.heroWelcome div:nth-of-type(1) h5 {
  width: 25vw;
}
.heroWelcome div:nth-of-type(1) hr {
  margin: 0;
}

/**************************
RESPONSIV 
***************************/
@media only screen and (max-width: 900px) {
  .heroWelcome {
    margin-top: 100vh;
    margin-bottom: 30px;
  }

  .heroWelcome div:nth-of-type(1) hr {
    display: none;
  }
  .heroWelcome div:nth-of-type(1) {
    flex-direction: column;
    margin-bottom: 0;
  }
  .heroWelcome div:nth-of-type(1) h5 {
    width: auto;
  }

  .content {
    padding: 4vw;
  }
}

@media only screen and (max-width: 768px) {
  .heroWelcome h2 span {
    font-size: 4.9rem;
  }
}

@media only screen and (max-width: 576px) {
  .heroWelcome h2 {
    line-height: 60px;
  }
  .heroWelcome h2 span {
    font-size: 3.6rem;
  }

  .heroWelcome p {
    max-width: 85vw;
  }
}
